main{
    max-width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--contrast-ligth-color);
    padding: 8vh 5vw;
    border-radius: 30px;
    min-height: 50vh;
}

.span__title{
    font: var(--font-size-card-title)
}

.main__title{
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo);
    margin-bottom: 2vh;
}

section{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.main_link{
    width: calc(100%/6);
    height: 12vh;
    background-color: var(--secundary-color);
    margin: 1vw;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.main__section{
    background-color: var(--contrast-ligth-color);
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 85%;
}

.main__section span{
    margin: auto;
    font-weight: bold;
}

.section__img{
    width: 60%;
    margin: auto;
}